/*
 * memos.css: 
 *    Styles for 'Memos' go in this file 
 */

/* Nothing yet */

.jumbotron {
	margin: 0;
}

h1 {
	text-align: center;
}

.navbar form {
	margin: 0;
}

.memo:nth-child(2n-1) {
	background-color: grey;
}

.memo:nth-child(2n) {
	background-color: pink;
}

.memo p {
	margin: 5px 15px;
}

.memo div {
	padding: 0;
}

.memo .btn {
	float: right;
}